<!DOCTYPE html>
<html>
<head>
    <title>E-Commerce Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>📊 E-Commerce Customer Insights Dashboard</h1>

<div class="kpi">
    <h2>Total Revenue: ₹{{ total_revenue }}</h2>
    <h2>Total Customers: {{ total_customers }}</h2>
    <h2>Avg Order: ₹{{ avg_order }}</h2>
</div>

<form method="GET">
    <select name="month">
        <option value="">All Months</option>
        <option value="2025-01">Jan</option>
        <option value="2025-02">Feb</option>
        <option value="2025-03">Mar</option>
    </select>

    <select name="product">
        <option value="">All Products</option>
        <option value="Shoes">Shoes</option>
        <option value="Bag">Bag</option>
        <option value="Watch">Watch</option>
    </select>

    <button type="submit">Filter</button>
</form>

<div class="container">

    <div class="card">
        <h2>Revenue Trend</h2>
        <img src="{{ url_for('static', filename='images/revenue.png') }}">
    </div>

    <div class="card">
        <h2>Gender Distribution</h2>
        <img src="{{ url_for('static', filename='images/gender.png') }}">
    </div>

    <div class="card">
        <h2>Age Distribution</h2>
        <img src="{{ url_for('static', filename='images/age.png') }}">
    </div>

    <!-- ✅ NEW CHART -->
    <div class="card">
        <h2>Top Products</h2>
        <img src="{{ url_for('static', filename='images/products.png') }}">
    </div>

</div>

</body>
</html>