body {
    font-family: Arial;
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 15px;
}

header a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 20px;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background: green;
    color: white;
    border: none;
}
