body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
}

h1 {
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

img {
    width: 300px;
}